:root{
    --primary-color: #181818;
    --secondary-color: #898989;
    --tertiary-color: #8f1a1a;
    --quaternary-color: #BFBFBF;
    --neon: drop-shadow(0px 0px 5px #701414);
    --cardShadow: drop-shadow(0px 0px 10px #000000);
    --headingsFontSize: 2.5rem;
    --textFontSize: 1.25rem;
    --bodyTextFontSize: .90rem;
    --descriptionFontSize: .65rem;
    --svgSize: 3rem;
}

/* No scrollbar allowed */
::-webkit-scrollbar {
    display: none;
}

/***********************************/
/***************Fonts***************/
/***********************************/

@font-face {
    font-family: 'Pixel';
    src: url(../fonts/PixelCode.woff) format('woff'),
         url(../fonts/PixelCode.woff2) format('woff2');
    font-style: normal;
}

/*************************************/
/***************General***************/
/*************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--quaternary-color);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #191919c8;
}

main {
    position: relative;
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: inset 0 0 20px 1px #0F0F0F;
}

a {
    color: var(--tertiary-color);
    text-decoration: underline;
}

/*************************************/
/*****************Nav*****************/
/*************************************/

nav{
    width: 10%;
    height: 100%;
    padding: 3rem 0;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul .navTop li {width: 100%;}

ul .navTop li p {
    text-align: center;
    font-weight: 900;
    filter: var(--neon);
    color: var(--tertiary-color);
    font-size: var(--headingsFontSize)
}

ul .navCenter li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navIcons,.downloadIcon {
    width: var(--svgSize);
    max-width: 100%;
    height: var(--svgSize);
    margin: 1rem 0;
    fill: var(--secondary-color);
    stroke: var(--secondary-color);
    cursor: pointer;
    transition: all 0.5s ease;
}

ul .navBottom li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
}
.downloadIcon{
    margin: 0;
    width: var(--svgSize);
    height: var(--svgSize);
    fill: var(--tertiary-color);
    stroke: var(--tertiary-color);
    filter: var(--neon);
}

.activeLink {
    fill: var(--tertiary-color);
    stroke: var(--tertiary-color);
    filter: var(--neon);
}

.CvDownloadPhone {
    display: none;
}

/**************************************/
/*****************Card*****************/
/**************************************/

.cardContainer {
    perspective: 1000px;
    height: 100%;
    width: 40%;
}

.cardSides{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all .75s ease;
}

.flipped {transform: rotateY(180deg);}

.cardSides:hover .myself{
    filter: brightness(0.5) contrast(1.2) blur(0.75px);
    scale: 1.05
}

.cardSides:hover .getToKnowMe {opacity: 1;}

/****************************************/
/***************Front Side***************/
/****************************************/

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #202020;
    transition: all 0.5s ease;
}

.getToKnowMe {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.05;
    opacity: 0;
    background-color: #ffffffc5;
    transition: all 1s ease;
}

.getToKnowMe p {
    font-size: var(--textFontSize);
    color: var(--primary-color);
    font-family: 'Pixel', sans-serif;
    font-weight: 900;
    text-align: center;
}

.getToKnowMe p span {font-size: var(--headingsFontSize); vertical-align: middle;}

.myself {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(1) contrast(1) blur(0) var(--cardShadow);
    transition: all 0.5s ease;
}

/***************************************/
/***************Back Side***************/
/***************************************/

.back {
    transform: rotateY(180deg);
    box-shadow: 0 0 20px 1px #0F0F0F;
    border-radius: 5px;
    padding: 1rem;
    scale: 1.05;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.back h1 {font-size: var(--headingsFontSize);}

.back h2 {
    font-family: 'Pixel', sans-serif;
    font-size: var(--descriptionFontSize);
    color: var(--secondary-color);
    font-style: italic;
}

.back .infos {
    margin:1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back .infos ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.back .infos ul li {
    display: flex;
    align-items: center;
    width: 100%;
}

.back .pictoData {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.back .pictoData .pictoDataSvg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--tertiary-color);
}

.back section.infos p {
    margin: .5rem 0;
    text-align: left;
    font-size: 1rem;
}

.back #map {
    width: 90%;
    height: 30%;
    margin: 0 auto;
}

.back p {
    text-align: center;
    margin: 1rem 0;
}

.back p.centeredP {font-weight: 900;}

.back .highlightedBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height:5%;
}

.back p.highlighted {
    position: absolute;
    font-size: var(--textFontSize);
    font-weight: 900;
    font-family: 'Pixel', sans-serif;
    color: var(--tertiary-color);
    filter: var(--neon);
}

.back p.highlighted::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    top: 2px;
    left: 2px;
    color: var(--quaternary-color);
}

.back .quoteBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.back p.slideOutText, .back p.slideInText {
    position: absolute;
    font-style: italic;
    font-family: 'Pixel',sans-serif;
    text-align: center;
    color: var(--tertiary-color);
    filter: var(--neon);
}
.back p.slideOutText:before, .back p.slideInText:before {
    content: attr(data-text);
    position: absolute;
    top: 2px;
    left: 2px;
    width: 100%;
    color: var(--quaternary-color);
}

.back a.contactMe{
    color: var(--tertiary-color);
    font-weight: 900;
    text-decoration: underline;
}

.back p:last-of-type {margin: 1rem 0;}

/******************************************/
/***************Main Content***************/
/******************************************/

.tabsDiv{
    width: 50%;
    padding: 1rem;
    overflow: hidden;
}
.content {
    width: 0;
    height: 0;
    opacity: 0;
    overflow-y: scroll;
    transition: 0.75s ease;
    transition-delay: 0.1s;
}
.activeContent {opacity: 1; height: 100%; width: 100%;}

.content h1 {
    font-size: var(--headingsFontSize);
    color: var(--tertiary-color);
    margin-bottom: 1rem;
    text-align: center;
}

/****************************************/
/***************About Me*****************/
/****************************************/


#aboutContent .mainContent{
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: auto;
}

#aboutContent .mainContent .contentBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5rem 0;
    transition: all 0.5s ease;
}

#aboutContent .mainContent .contentBody:nth-of-type(even) {
    align-items: flex-end;
}

#aboutContent .mainContent .contentBody h2 {
    width: 75%;
    text-align: left;
    font-size: var(--textFontSize);
    font-family: 'Pixel', sans-serif;
    color: var(--tertiary-color);
}

#aboutContent .mainContent .contentBody p {
    width: 75%;
    font-size: var(--bodyTextFontSize);
    line-height: 1.25;
    color: var(--quaternary-color);
}

/****************************************/
/***************Projects*****************/
/****************************************/

.repoCard {
    display: block;
    width: 75%;
    border: 1px solid var(--tertiary-color);
    border-radius: 6px;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.repoCard:hover {
    box-shadow: 0 6px 6px rgba(143, 26, 26, 0.3);
    transform: translate(0, -4px);
}

.repoName {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 8px;
    color: var(--quaternary-color);
}

.repoDescription {
    color: var(--secondary-color);
    margin: 1rem 0;
}

.repoLanguage {
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}

.repoLink {
    color: #0366d6;
    text-decoration: none;
    font-size: 0.9em;
}

.repoLink:hover {
    text-decoration: underline;
}

/****************************************/
/**************Js Animations*************/
/****************************************/

@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slide-in 0.5s ease-in-out forwards;
}

.slide-out {
    animation: slide-out 0.5s ease-in-out forwards;
}

/****************************************/
/***************Media Queries************/
/****************************************/

@media screen and (max-width: 1024px) {
    :root{
        --headingsFontSize: 2rem;
        --textFontSize: 1rem;
        --descriptionFontSize: .75rem;
        --svgSize: 2.5rem;
    }
    main {
        width: 100%; 
        height: 100%; 
        overflow-y: scroll;
        overflow-x: hidden;
        flex-direction: column;
    }
    nav {display: none;}
    .cardContainer {width: 100%; height: max-content;}
    .cardSides {height: unset;}
    .cardSides:hover .myself {
        filter: brightness(0.8) contrast(1.2);
        scale: 1;
    }
    .flipped {transform: rotateY(0deg);}
    .front, .back {
        position: relative;
    } 
    .front {
        height: 55vh;
        z-index: 1  ;
    }
    .getToKnowMe {
        top: unset;
        left: 0;
        bottom: 0;
        height: 10%;
        min-height: 50px;
        opacity: 1;
    }
    .getToKnowMe::after {
        content: 'My Portfolio';
        position: absolute;
        font-size: var(--headingsFontSize);
        color: var(--primary-color);
        font-family: 'Pixel', sans-serif;
        font-weight: 900;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-color);
        box-shadow: 0 0 20px 1px #0F0F0F;
    }
    .myself {
        object-position: center 25%;
        filter: brightness(0.5) contrast(1.2);
    }
    .back {
        transform: rotateY(0deg);
        overflow: hidden;
        scale: 1;
        border-radius: 0;
        background-color: #0D0D0D;
    }
    .back .infos ul {
        width: 75%;
    }
    .back p {
        margin: 1.5rem 0;
    }
    .back p.highlighted{
        font-weight: normal;
    }
    .back .quoteBox {
        padding: 1.5rem 0 3rem;
    }
    .back p:last-of-type {
        margin: 2rem 0;
    }
    .tabsDiv{
        overflow:visible;
        width: 100%;
    }
    .content {
        opacity: 1;
        height: max-content;
        width: 100%;
    }
    .CvDownloadPhone {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--descriptionFontSize);
        color: var(--tertiary-color);
        border: 3px solid #000;
        border-radius: 50%;
        background-color: #000;
    }
}